<div class="module_special">
	<h2><{$lang.all_products}></h2>
    <div class="con">
    	<form method="get" action="<{$config.weburl}>/shop.php">
        <div class="search">
        	<div class="search_form">
               <ul> 
                <li class="keyword">
                    <label for="keyword"><{$lang.keywords}></label>
                    <input type="text" value="<{$smarty.get.keyword}>" name="keyword" id="keyword">
                </li>
                <li class="price">
                    <label for="price"><{$lang.price}></label>
                    <input type="text"  value="<{$smarty.get.price1}>" name="price1" id="price1">
                    <{$lang.to}>
                    <input type="text"  value="<{$smarty.get.price2}>" name="price2" id="price2">
                </li>
                <li>
                	<button type="submit" class="button"><{$lang.search}></button>
                </li>
               </ul> 
            </div>
        	<div class="search_result"><{$lang.total_search}><span> <{$info.count}> </span><{$lang.qualified_goods}></div>
        </div>
        <input id="search" type="hidden" name="search" value="search" />
        <input id="sort" name="sort" type="hidden" value="<{$smarty.get.sort}>" />
        <input id="cat" name="cat" type="hidden" value="<{$smarty.get.cat}>" />
        <input id="list_type" name="list_type" type="hidden" value="<{$smarty.get.list_type}>" />
        <input id="uid" name="uid" type="hidden" value="<{$smarty.get.uid}>" />
        <input id="action" name="action" type="hidden" value="<{$smarty.get.action}>" />
        <input id="m" name="m" type="hidden" value="<{$smarty.get.m}>" />
        </form>
        
        <div class="filter">
            <div class="sort">
                <span><{$lang.sort_by}></span>
                <a class="<{if $smarty.get.sort==sell_amount}>down<{elseif $smarty.get.sort==_sell_amount}>up<{else}>fav<{/if}>" href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&list_type=<{$smarty.get.list_type}>&cat=<{$smarty.get.cat}>&m=product&sort=<{if $smarty.get.sort==sell_amount}>_sell_amount<{else}>sell_amount<{/if}><{if $smarty.get.keyword}>&keyword=<{$smarty.get.keyword}><{/if}><{if $smarty.get.price1}>&price1=<{$smarty.get.price1}><{/if}><{if $smarty.get.price2}>&price2=<{$smarty.get.price2}><{/if}>"><{$lang.sales}><em class="icon"></em></a>
                
                <a <{if $smarty.get.sort==uptime}>class="up"<{/if}><{if $smarty.get.sort==_uptime}>class="down"<{/if}> href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&list_type=<{$smarty.get.list_type}>&cat=<{$smarty.get.cat}>&m=product&sort=<{if $smarty.get.sort==uptime}>_uptime<{else}>uptime<{/if}><{if $smarty.get.keyword}>&keyword=<{$smarty.get.keyword}><{/if}><{if $smarty.get.price1}>&price1=<{$smarty.get.price1}><{/if}><{if $smarty.get.price2}>&price2=<{$smarty.get.price2}><{/if}>"><{$lang.new_products}><em class="icon"></em></a>
                
                <a <{if $smarty.get.sort==price}>class="up"<{/if}><{if $smarty.get.sort==_price}>class="down"<{/if}> href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&list_type=<{$smarty.get.list_type}>&cat=<{$smarty.get.cat}>&m=product&sort=<{if $smarty.get.sort==price}>_price<{else}>price<{/if}><{if $smarty.get.keyword}>&keyword=<{$smarty.get.keyword}><{/if}><{if $smarty.get.price1}>&price1=<{$smarty.get.price1}><{/if}><{if $smarty.get.price2}>&price2=<{$smarty.get.price2}><{/if}>"><{$lang.price}><em class="icon"></em></a>
               
                <a class="<{if $smarty.get.sort==read_nums}>down<{elseif $smarty.get.sort==_read_nums}>up<{else}>fav<{/if}>" href="<{$config.weburl}>/shop.php?uid=<{$com.userid}>&action=product_list&list_type=<{$smarty.get.list_type}>&cat=<{$smarty.get.cat}>&m=product&sort=<{if $smarty.get.sort==read_nums}>_read_nums<{else}>read_nums<{/if}><{if $smarty.get.keyword}>&keyword=<{$smarty.get.keyword}><{/if}><{if $smarty.get.price1}>&price1=<{$smarty.get.price1}><{/if}><{if $smarty.get.price2}>&price2=<{$smarty.get.price2}><{/if}>"><{$lang.popularity}><em class="icon"></em></a>
            </div> 
            <div class="page"><{$info.pages}></div> 
        </div>
        
        <ul class="list product">
            <{assign var="list_type" value=$smarty.get.list_type|default:$shopconfig.shop_pro_list}>
            <{foreach item=list from=$info.list}>
            <li>
                <div class="pic"><a target="_blank" title="<{$list.pname}>" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>"><img src="<{$list.pic}>_220X220.jpg" width=150  height=150 alt="<{$list.pname}>" /></a></div>
                <h3><a target="_blank" title="<{$list.pname}>" href="<{$config.weburl}>/?m=product&s=detail&id=<{$list.id}>"><{$list.pname}></a></h3>
                <p><{$config.money}> <{$list.price}></p>
                <h4><{$lang.have_been_sold}><span><{$list.sell_amount}></span><{$lang.item}></h4>
            </li>
            <{/foreach}>
        </ul>
    	<div class="page"><{$info.page}></div>    
    </div>
</div>