<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>团购</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../script/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="../script/jquery.validation.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../script/district.js" ></script>
<script src="../script/my_lightbox.js" language="javascript"></script>
<script language="javascript">
var weburl="<{$config.weburl}>";
$(function(){
	$('#form').validate({
		errorPlacement: function(error, element){
			element.next('.form-error').append(error);
		},      
		rules : {
			name:{
				required:true
			},
			catid:{
				required:true
			},
			market_price:{
				required:true,
			},
			price:{
				required:true,
			},
			<{if !$de.area}>
			select_1:{
				required:true
			},
			select_2:{
				required:true
			},
			select_3:{
				required:true
			},
			<{/if}>
		},
		messages : {
			name:{
				required:'请填写品牌',
			},
			catid:{
				required:'请填写分类',
			},
			market_price:{
				required:'请填写市场价',
			},
			price:{
				required:'请填写团购价',
			},
			<{if !$de.area}>
			select_1:{
				required:'请选择所属区域',
			},
			select_2:{
				required:'请选择所属区域',
			},
			select_3:{
				required:'请选择所属区域',
			},
			<{/if}>
		}
	});
});
</script>
</head>
<body>
	<div class="container">
        <div class="flow">
            <div class="itemtitle">
                <h3>团购</h3>
                <ul>
                    <li <{if $smarty.get.operation==''}>class="current"<{/if}>><a href="?m=<{$smarty.get.m}>&s=<{$smarty.get.s}>"><span>管理</span></a></li>
                    <li <{if $smarty.get.operation=='add'}>class="current"<{/if}>><a href="?m=<{$smarty.get.m}>&s=<{$smarty.get.s}>&operation=add"><span>添加</span></a></li>
                    <{if $smarty.get.operation=='edit'}>
                    <li class="current"><a href="#"><span>修改</span></a></li>
                    <{/if}>
                </ul>
            </div>
        </div>
        <div class="h35"></div>  
        <{if $smarty.get.operation=='add' or $smarty.get.operation=='edit' or $smarty.get.operation=='batch' }>
            <form name="form" id="form" method="post">
            <input name="id" type="hidden" id="id" value="<{$de.id}>">
            <table class="table">
                <thead>
                    <tr>
                        <th class="partition" colspan="99">团购</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="100">团购名称</td>
                    <td>
                    <input name="name" id="name" type="text" class="w350" value="<{$de.name}>">
                 	<div id="form-error" class="form-error"></div>
                    </td>
                </tr>
                
                <tr>
                    <td>团购分类</td>
                    <td>
                    <select class="select" name='catid'>
                    	<option value=''>选择品牌分类</option>
                        <{foreach item=list from=$cat}>
                        <option <{if $de.catid==$list.id}> selected="selected" <{/if}>value="<{$list.id}>"><{$list.catname}></option>	
                        <{foreach item=slist from=$list.scat}>
                        <option <{if $de.catid==$slist.id}> selected="selected" <{/if}>value="<{$slist.id}>">┣ <{$slist.catname}></option>	
                        <{/foreach}> 
                        <{/foreach}> 
            		</select>
                    <div id="form-error" class="form-error"></div>
                    </td>
                </tr>
                
                <tr>
                    <td>市场价</td>
                    <td><input type="text" name="market_price" value="<{$de.market_price}>" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" onkeyup="value=value.replace(/[^\d.]/g,'')" /><div id="form-error" class="form-error"></div></td>
				</tr>
                
                <tr>
                    <td>团购价</td>
                    <td><input type="text" name="price" value="<{$de.price}>" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" onkeyup="value=value.replace(/[^\d.]/g,'')" /><div id="form-error" class="form-error"></div></td>
				</tr>
                
                <tr>
                    <td>团购图片</td>
                    <td>
                    <input name="pic" class="w350" type="text" id="pic" value="<{$de.pic}>" />
                    <input name="oldpic" type="hidden" value="<{$de.pic}>" />
                    [<a href="javascript:uploadfile('上传LOGO','pic',500,300,'tg')">上传</a>] 
                    [<a href="javascript:preview('pic');">预览</a>]
                    [<a onclick="javascript:$('#pic').val('');" href="#">删除</a>] <span class="bz"></span>
                    </td>
                </tr>
                
                <tr>
                    <td>库存</td>
                    <td><input type="text" name="stock" value="<{if $de.stock}><{$de.stock}><{else}>1<{/if}>" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" onkeyup="value=value.replace(/[^\d]/g,'')" /></td>
				</tr>
                
                <tr>
                    <td>虚拟数量</td>
                    <td><input type="text" name="virtual_quantity" value="<{if $de.virtual_quantity}><{$de.virtual_quantity}><{else}>0<{/if}>" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" onkeyup="value=value.replace(/[^\d]/g,'')" /><p class="hint">虚拟购买数量，只用于前台显示，不影响成交记录</p></td>
				</tr>
                
                <tr>
                    <td>限购数量</td>
                    <td><input type="text" name="limit_quantity" value="<{if $de.limit_quantity}><{$de.limit_quantity}><{else}>0<{/if}>" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" onkeyup="value=value.replace(/[^\d]/g,'')"/><p class="hint">每个买家ID可团购的最大数量，不限数量请填 "0"</p></td>
				</tr>
                
                <tr>
                    <td>所属区域</td>
                    <td>
                    <input type="hidden" name="t" id="t" value="<{$de.area}>" />
                    <input type="hidden" name="province" id="id_1" value="<{$de.provinceid}>" />
                    <input type="hidden" name="city" id="id_2" value="<{$de.cityid}>" />
                    <input type="hidden" name="area" id="id_3" value="<{$de.areaid}>" />
                    <{if $de.area}><div id="d_1"><{$de.area}>&nbsp;&nbsp;<a href="javascript:sd();">编辑</a></div><{/if}>
                    <div id="d_2" <{if $de.area}>class="hidden"<{/if}>>
                    <select name="select_1" id="select_1" onChange="selClass(this);">
                    <option value="">--请选择--</option>
                    <{$district}>
                    </select>
                    <select name="select_2" id="select_2" onChange="selClass(this);" class="hidden"></select>
                    <select name="select_3" id="select_3" onChange="selClass(this);" class="hidden"></select>
                    <div id="form-error" class="form-error"></div>
                    </div>
                    </td>
				</tr>
                
                <tr>
                    <td>点击数</td>
                    <td><input type="text" name="hits" value="<{if $de.hits}><{$de.hits}><{else}>0<{/if}>"  onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" onkeyup="value=value.replace(/[^\d]/g,'')"/></td>
				</tr>
                
                <tr>
                    <td>本团介绍</td>
                    <td>
                    <script charset="utf-8" src="../lib/kindeditor/kindeditor-min.js"></script>
					<script>
                    var editor;
                    KindEditor.ready(function(K) {
                        editor = K.create('textarea[name="content"]', {
                            resizeType : 1,
                            allowPreviewEmoticons : false,
                            allowImageUpload : false,
                            langType :'<{$config.language}>',
                        });
                    });
                    </script>
                    <textarea style="width:80%; height:300px" name="content"><{$de.content}></textarea>
                    </td>
				</tr>
                
                <tr>
                    <td>状态</td>
                    <td>
                    <input type="radio" name="status" value="2" id="tj" <{if $de.status==2}>checked="checked"<{/if}>/><label for="tj">推荐</label>
                    <input type="radio" name="status" value="1" id="open" <{if $de.status==1}>checked="checked"<{/if}>/><label for="open">开启</label>
                    <input type="radio" name="status" value="0" id="close" <{if $de.status==0}>checked="checked"<{/if}>/><label for="close">关闭</label>
                    </td>
                </tr>
               
                <tr>
                    <td>&nbsp;</td>
                    <td>
                    <input class="submit" type="submit" value="提交">
                    <input name="act" type="hidden" id="action" value="<{if !$smarty.get.editid}>save<{else}>edit<{/if}>">
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
        <{else}>
		<script type="text/javascript">
        $(function(){
            /* 全选 */
             $('.checkall').click(function(){
                var _self = this;
                $('.checkitem').each(function(){
                    if (!this.disabled)
                    {
                        $(this).attr('checked', _self.checked);
                    }
                });
                $('.checkall').attr('checked', this.checked);
            });	 
        });
        </script>
        <form action="" method="post">
        <table class="table">
        	<thead>
                <tr>
                    <th class="partition" colspan="99">团购</th>
                </tr>
            </thead>
            <tbody>
                <tr class="header">
                    <th width="30"></th>
                    <th width="70">显示顺序</th>
                    <th colspan="2">团购名称</th>
                    <th width="100">分类</th>
                    <th width="80">已团购</th>
                    <th width="100">状态</th>
                    <th width="50"></th>
                </tr>
                <{foreach item=list from=$de.list}>
                <tr>
                    <td><input type="checkbox" value="<{$list.id}>" class="checkitem" name="chk[]"></td>
                    <td><input type="text" class="w50" maxlength="3" name="displayorder[<{$list.id}>]" value="<{$list.displayorder}>" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" onkeyup="value=value.replace(/[^\d]/g,'')" /></td>
                    <td width="70"><a target="_blank" href="../?m=tg&s=detail&id=<{$list.id}>"><{if $list.pic}><img width="60" class="img" src="<{$list.pic}>" /><{else}><img class="img" width="60" src="../image/default/nopic.gif" /><{/if}></a></td>
                    <td><a target="_blank" href="../?m=tg&s=detail&id=<{$list.id}>"><{$list.name}></a></td>
                    <td><{$list.catname}></td>
                    <td>&nbsp;<{$list.sell_amount}></td>
                    <td><{if $list.status==1}>开启<{elseif $list.status==2}>推荐<{else}>关闭<{/if}></td>
                    <td>
                    <a href="?m=<{$smarty.get.m}>&s=<{$smarty.get.s}>&operation=edit&editid=<{$list.id}>"><{$editimg}></a> 
                    <a onclick="return confirm('确定删除吗');" href="?m=<{$smarty.get.m}>&s=<{$smarty.get.s}>&delid=<{$list.id}>"><{$delimg}></a>
                    </td>
                </tr>
                <{foreachelse}>
                <tr>
                    <td class="norecord" colspan="99"><i></i><span>暂无符合条件的数据记录</span></td>
                </tr>
                <{/foreach}>
            </tbody>
            <tfoot>
                <tr>
                	<td colspan="4">
                        <div class="del">
                        <input type="checkbox" class="checkall" id="del">
                        <label for="del">全选</label>
                        </div>
                        <input type="hidden" name="act" value="op" />
                        <input type="submit" name="submit" value="<{$lang.btn_submit}>" />
                        <input type="submit" name="submit" value="<{$lang.rc}>" />
                        <input type="submit" name="submit" value="<{$lang.btn_open}>" />
                        <input type="submit" name="submit" value="<{$lang.btn_close}>" />
                    </td>
                    <td colspan="99"><div class="page"><{$de.page}></div></td>
                </tr>
            </tfoot>
        </table>
        </form>
        <{/if}>
    </div>
</body>
</html>