<link type="text/css" rel="stylesheet" href="<{$config.weburl}>/templates/en/enbrand.css">
<center>
<div class="menu_bottom L1">				
    <div class="headtop_L">
       <a href='<{$config.weburl}>/'><{$lang.indexpage}></a> &gt; <span>Brand</span>
    </div>		
</div>
	<div class="wrapper">
    <h3> <span class="bh3">Brand Showcase</span></h3>
	<div class="bmain">
        <div class="menu_left">
            <div class="menu_con">
                <ul id="catarea" class="area">
                    <{foreach item=list key=num from=$bcat}>
                        <li><a target="_blank" href="<{$config.weburl}>/?m=brand&s=brand_list&id=<{$list.id}>" title="<{$list.catname}>"><{$list.catname}></a>
                            <{if $list.catname}>
                                <dl>
                                    <{foreach item=slist from=$list.list key=nums}>
                                         <dd><a target="_blank" href="<{$config.weburl}>/?m=brand&s=brand_list&id=<{$list.id}>&etgid=<{$slist.id}>" title="<{$slist.catname}>"><{$slist.catname}></a></dd>
                                     <{/foreach}>
                                 </dl>
                            <{/if}>
                        </li>
                    <{/foreach}>
                </ul>
            </div>
        </div>        
        <script type=text/javascript>
    function showcat()
    {
        try{
            var lies = document.getElementById("catarea").getElementsByTagName("li");
            for (var i=0; i< lies.length; i++) {
                lies[i].onmouseover= function() {
                    this.className="lion";
                }
                lies[i].onmouseout= function() {
                    this.className="";
                }
            }
        }
        catch(e){}
    }
    showcat();
    </script>
        <div class="menu_right">
            <div class="top_ad">
                    <script src='<{$config.weburl}>/api/ad.php?id=37&catid=&name=<{$smarty.get.key}>'></script></div>
            <!--div class="top_r">
                <ul>
                    <{insert name="label" type="brand" temp="brand_list_enmall" rec=2 limit=8}>
                </ul>
            </div-->
        </div>
    </div>
    	<{foreach item=clist key=num from=$bcat}>
            <div class="bmain_list clear">
                <h3><a target="_blank" href="<{$config.weburl}>/?m=brand&s=brand_list&id=<{$clist.id}>"><{$clist.catname}></a></h3>
                <div id="bmain_t" class="bmain_t">
                <div class="bmain_tit">
                	<ul >
						<{insert name="label" type="brand" temp="brand_list_enlist" rec=2 catid=$clist.id  limit=10}>
                        <div class="clear"></div>
					</ul>
               </div>
                </div>
            </div>
        <{/foreach}>
    </div>
        
        
        

</center>
