@charset "utf-8";
/* CSS Document */
.content4 li{ float:left; width:140px; margin-bottom:10px; text-align:center;}
#productdetail{ margin-bottom:10px;}
.title4 h2{ float:left; margin-left:20px;}
.list9{ padding:10px;}
#infopic img{ margin-right:3px;}
.MsoNormal{ padding-top:10px; text-indent:20px;}
.pro_text{text-align:right;}