@charset "utf-8";
/* CSS Document */
body, button, input, select, textarea {
    font: 12px/1 Arial,Helvetica,sans-serif;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: auto;
	background: #FFFFFF;
	color: #333333;
	text-decoration: none;
	font-size: 12px;
	line-height: 22px;
}
#top a:link {
	color: #003399;
	line-height:40px;
	height:40px;
	text-decoration: none;
}
#top a:active {
	color: #F5A89A;
	text-decoration: none;
}
#top a:hover {
	color: #FF6600;
	text-decoration: none;
}
#top a:visited {
	color: #003399;
	text-decoration: none;
}
a:link {
	color: #003399;
	text-decoration: none;
}
a:active {
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #FF6600;
	text-decoration: none;
}
a:visited {
	 color: #003399;
}

* LI {
    list-style-image: none;
    list-style-type: none;
}
li {
    list-style-type: none;
}
ul, form {
	margin: 0px;
	padding: 0px;
}
#top {
	width: 100%;
	text-align: left;
	line-height: 40px;
	color: #666666;
    height: 40px;
	background: url(img/entop_bg.jpg) repeat-x #E7E7E7;
	overflow: hidden;
}
#top #top_sider {
	font-size: 12px;
	margin: 0 auto;
	width: 960px;
}
#top .top_sleft { float:left; width:130px; height:40px; line-height:40px; }
.top_sleft img{ margin-top:5px;}
#top .top_sright { float:left; width:830px; }
.top_sright img {
	border: 0px;
}
.shop_cart{ float:right; font-weight:bold;  padding:0; display:block; color:#FFD0C0;}
.gray {
	height: 65px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
.editbox {
 border: 1px solid #969EA9  ;
    color: #999999;
	float:right;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    margin: 0;
    padding: 5px;
    vertical-align: middle;
    width: 200px;
}
.com_info{ float:right;
 background-color: #EDF2FA;
    border: 1px solid #DDDDDD;
	padding:3px 5px 0 5px;
    font-family: Arial;
    width: 188px;
	height:22px;
	text-align:left;
	margin-right:8px;
	 overflow: hidden;}
.com_sc{float: left;
    line-height: 1em;
    margin-right: 5px;
    padding-top: 3px;
	color:#5F656B;
	display: block;}
.com_score{ color: #0072BC;
    font-weight: bold;
	width:50px;
	text-align:left;}
.wangw{ float:left;margin-top: -3px;}
.ali{background: url(img/ali.gif) no-repeat left center ; display: block;
	float: left;
	width:20px;
	text-align:left;
	display: inline;
    font-size: 11px;
    height: 2em;
	margin:0 5px;
    line-height: 2em;}
.espand{  background: url(img/es_store.png) no-repeat 0 -13px;
	float:left;
    width: 15px;
	margin-top:3px;
	display: block;
	display: inline;}	
.selectnav {
	border: 1px solid #999999;
	height: 24px;
	text-align: center;
	width: 80px;
}
.button {
	background:url(img/ens_bg.png) repeat-x;
	 border: 1px solid #F37C14;
    color: #FFFFFF;
    margin-left: -1px;
    z-index: 2;
	cursor:pointer;
	font-weight: bold;
	float:right;
	height:27px;
	line-height: 25px;
	vertical-align: middle;
}
.en_plist{ background: url(img/essh_bg.png) repeat-x scroll 0 0 transparent;
    border: 1px solid #BEBEBE;
	float:right;
    color: #000000;
    margin-left: -2px;
    width: 110px;
	height:25px;
	line-height:25px;
	overflow:hidden;
    z-index: 1;
	cursor: pointer;
    font-weight: bold;
    text-align: center;}
#wrap_top {
	width: 100%;
	text-align: left;
	background-color: #B10000;
	overflow: hidden;
}
#wrapper {
	margin: 0 auto;
	width: 960px;
}
#wrapper img {
	border: 0px;
}
* {
	word-break: break-all;
	margin: 0px;
	padding: 0px;
}
.clear {
	clear: both;
}
.bgpic {
	width: 960px;
	height: 140px;
	background:url(img/entop_he.jpg) no-repeat;
}
.cnamesech{  height: 98px;
    margin: 0 auto;
    position: relative;}
.cname{ padding-top:20px; padding-left:10px ; word-wrap: break-word; color: #666666; font-size:14px; font-weight:bold; overflow:hidden; }
.cseach{}
.nav001 {
	background:url(img/navibar.jpg) repeat-x ;
	width: 960px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	position: absolute;
}
.nav001 li {
	float: left;
	list-style: none;
	height: 27px;
	display:block;
	text-align: center;
	background:#F20203;
	margin-left: 10px;
}
.nav001 li a{
	color: #FFFFFF;
	display: block;
	font-weight:bold;
	text-decoration: none; }
.nav001 li a:visited{ color: #FFFFFF;text-decoration: none;}
#nav01{display: inline;
    float: left;
    font-size: 14px;
    line-height: 29px;
    margin: 6px 0 0;
    overflow: hidden;
    padding-left: 15px;
    position: relative;}
#nav01 li {
    background: url(img/esnav_line.jpg) no-repeat scroll right 0 transparent;
    color: #FFFFFF;
    float: left;
    height: 29px;
    margin: 0 0 0 -5px;	}
#nav01 li a {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    padding: 0 0 0 22px;
}

#nav01 li a span {
    cursor: pointer;
    float: left;
    font-size: 13px;
    height: 29px;
    line-height: 27px;
    overflow: hidden;
    padding: 0 24px 0 0;
}
.nav01 {
	height: 27px;
	float:none;
	border: 1px;
	margin-right: 15px;
	text-align:center;
	display: inline;
}
.nav001 .current001 a{  background: url(img/navibar.jpg) no-repeat scroll 0 -41px transparent;
   color: #033665;}
.nav001 .current001 a span{	background: url(img/navibar.jpg) no-repeat scroll right -41px transparent;
	color: #033665;
    line-height: 27px;}
.m1 {
	margin-top: 10px;
}
.dipsp_lu {
	border: 1px solid #E4E4E4;
	text-align: center;
	border-bottom: none;
	background: url(../../image/default/shop/jies.png) repeat-x;
	height: 25px;
	line-height: 25px;
	width: 190px;
}
.dp3lrp {
    background: none repeat  #C5DAEF;
    border: 1px solid #D3D7DA;
    height: 25px;
}
.dipsp_l {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    overflow: hidden;
    width: 190px;
}
.el_tit{color: #404040;
    font-size: 13px;
    line-height: 25px;
    padding-left: 10px;
	font-weight:bold;}
.tsfw{ padding-left:20px; padding-right:20px; padding-top:5px; height:60px; border-bottom:1px dashed #E3E3E3; overflow:hidden;}
.tsfw li{ float: left;
    height: 50px;
    padding-bottom: 10px;
    text-align: center;
    width: 75px;
	list-style: none outside none;}
.tsfw li img {
    border: 1px solid #CCCCCC;
    height: 50px;
    width: 50px;
}
.espjs{ padding:5px 0;}
.espjs dl a{ background: url(img/add.png) no-repeat left;padding: 2px 0 2px 26px; }
.esjxy{ border-bottom:1px dashed #E3E3E3;}
.esjxy dl,.espjs dl{ overflow:auto; zoom:1; padding-top:2px; padding-bottom:2px;}
.esjxy dt,.espjs dt{ float:left; text-align:right; color: #003399;}
.dp3lrte,.dp3lrte2{ background-color: #FFFFFF;
    border: 1px solid #D3D7DA;
    color: #000000;
    padding: 7px 11px;
	_padding:7px 8px;}
.dp3lrte img { margin:auto;}
.dp3lrte dl{ line-height:20px; text-align:center; color:#06F;}
.dp3lrte ul li span { color:#F98231;}

.dp3lr{ width:190px; float:left; background:#FFF;}
.dipsp_r{ width:760px; float:right; overflow:hidden;}
.dpr01{ width:770px; overflow:hidden;}
.dpr011{ width:768px; height:30px; background:#F7FAFF; line-height:30px;font-size:12px; border:1px #E7E8FD solid;}
.dpr012{ width:768px;font-size:12px; border:1px #E7E8FD solid; border-top:0px; }
.dpr012 li{ float:left; color:#6F6F6F; line-height:40px; height:40px;}
.dpsos{ background:#E15C0E; border: 0 none; color:#FFF; font-weight:bold;cursor: pointer; width:50px; height:20px;}
.dpr02{width:770px;margin-top:10px; border-top: 2px #A5A5A5 solid; background:#F5F5F5;}
.btn{
    background: url(img/ensearch_btn.gif) no-repeat scroll 0 0 transparent;
    border:medium none;
    cursor: pointer;
    height: 26px;
    width: 98px;
}
.sinkey{color: #999999;
    display: block;
    font-size: 11px;
    line-height: 1em;
    padding: 0 0 2px;}
.qqq{border: 1px solid #C2CAD8;
    font-size: 12px;
    line-height: 12px;
    padding: 2px 4px;}
.tab001{width:190px; margin-top:10px; float:left;}
.dpxixi1{width:190px;height:29px;line-height:29px;background:url(../../image/default/shop/spcl.jpg);cursor:pointer; color:#A41C1C ; border:1px #D5D5D5 solid; border-bottom:none;}
.dpxixi2 {width:190px;height:29px;line-height:29px;background:url(../../image/default/shop/spcr.jpg);cursor:pointer; color:#A41C1C; border:1px #D5D5D5 solid; border-bottom:none;}
.dptab1 {
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 95px;
}
.dptab2 {
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 95px;
}
#dpTabTab03maincontent,#dpTabTab03Con2{width:180px; border-left:#cfcfcf 1px solid;border-bottom:#cfcfcf 1px solid;border-right:#cfcfcf 1px solid; text-align:left; padding:5px; overflow:hidden;}
#dpTabTab03maincontent .dprx,#dpTabTab03Con2 .dprx{ border-bottom:1px dashed #CCC;}
.dprx{float:left;}
.dprxpic{  width:50px; height:50px; border:1px #D5D5D5 solid; float:left; margin:8px 0px; overflow:hidden; padding-left:3px;}
.dprxt{ width:120px; float:right; text-align:left; margin-top:10px; overflow:hidden; padding-left:2px;}
.dpzl{overflow: hidden;
    width: 172px; 
	word-wrap: break-word;}
.dp3lrte li{ line-height: 18px;}
.dp3lrte li a{background: url(img/icon_01.gif) no-repeat scroll 2px 5px transparent;
	color: #003399;
    line-height: 20px;
    padding-left: 15px;}
.dp3lrte li a:hover{ color:#FF6600;}
.bottom{ background:url(../../image/default/shop/spbott.jpg) repeat-x #f1f1f1; padding:10px;}
.bottext {
    line-height: 25px;
    padding-bottom: 5px;
    padding-top: 0;
    text-align: center;
}
.es_rlist{border: medium none;
    clear: both;
    display: block;
    min-height: 60px;
    padding-top: 10px;
    position: relative;
    width: 165px;}
.es_rlist a{ display: block; float: left;font-size: 11px;
    line-height: 16px;}
.es_rlist a img{ width:50px;}
.es_rdet{ float: left;
    margin: 0;
    padding-left: 10px;
	_padding-left:5px;
    width: 100px;} 
.es_rdet p{display: block;
    overflow: hidden; line-height:16px;}	
/**space_index***/
.spinlist {border: 1px solid #D1D1D1; margin-top:10px;}
.spt { background: repeat-x;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}
h1, h2 {
    font-size: 14px;
}
h4{ font-size:30px; 
	height:80px;
	line-height:80px;
	font-weight:bold;
	font-family:宋体;
	}
.spc {
    background: none repeat scroll 0 0 #FFFFFF;
    padding-left: 20px;
    padding-top: 20px;
}
.spc ul {
    overflow: auto;
}
.spc li {
    float: left;
    height: 265px;
    margin-bottom: 20px;
    margin-right: 18px;
    overflow: hidden;
    width: 166px;
}
.spc li img {
    border: 1px solid #CCCCCC;
    padding: 2px;
}
.spc li h3 {
    color: #9F0122;
    font-size: 14px;
}
.spc li h3 del {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    padding-right: 10px;
}
.spb {
    background: #FFFFFF;
    overflow: auto;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 748px;
}
.page {
    float: right;
}
.spt h2 {
    color: #A00000;
}

.guide_ba{ background: none repeat scroll 0 0 #D0E5F4; height:28px; line-height:28px;}
.guide_ba span{ color: #404040;
    font-size: 13px;
    line-height: 25px;
    padding-left: 10px;
	font-weight:bold;}
/**/
.common_box table {border-collapse: collapse;}
.common_box { background-color: #FFFFFF;}
.pro_list_col {float: left;margin-left:16px; height:290px; overflow:hidden;}
.probox {display: block;text-align: center; width: 160px;}
.probox1{color:#00F; line-height:15px; font-size:12px;padding-bottom:5px; line-height:20px; }
.probox1 span { color:#3469CC;}
.probox1 p del{color:#666;}
.pro_list_col a img {border: 1px solid #CCCCCC; height: 150px;padding: 1px;width:150px;}
.drp021{ padding-left:5px; height:30px; padding-top:12px;}
element.style {float: left; margin-left: 10px;}
.dpr02 span {border:#CCC 1px solid; padding:2px; margin-right:8px;}
.dpr02 span a span{ border:none; padding:0px; margin-right:0px;writing-mode:tb-rl; vertical-align: middle;}
.pro_list_col ul li{ padding: 4px 7px; width:154px;}
.probox1 ul li img { width:12px ; height:18px; border:0px;}
.probox1 ul li { width:12px ; height:18px; line-height:15px; float:left; padding:1px 8px 1px 1px; }
.probox1 ul { padding:5px 0px;}
