<script type="text/javascript" src="script/Validator.js"></script>
<div class="path">
    <div>
    	<{if $cg_u_type==1}>
    		<a href="main.php?cg_u_type=1">我的商城</a> <span>&gt;</span>
        <{else}>
    		<a href="main.php?cg_u_type=2">卖家中心</a> <span>&gt;</span>
        <{/if}>
        <a href="main.php?m=payment&s=admin_accounts_bind">资金提现</a> <span>&gt;</span>
        提现银行
    </div>
</div>
<div class="main">
	<div class="wrap">
        <div class="hd">
            <ul class="tabs">
                <li class="active"><a href="main.php?m=payment&s=admin_accounts_bind">提现银行</a></li>
            </ul>
        </div>
        <div class="form-style">
            <form action="" method="post" onSubmit="return Validator.Validate(this,3)">
            <input type="hidden" value="add" name="submit">
            <dl>
                <dt><em>*</em>开户名：</dt>
                <dd><{if !$bank}><input type="text" class="text w150" name="master" value="<{$bank.master}>" maxlength="100" dataType="Require" msg="<{$lang.bind_j}>"/><{else}><{$bank.master}><{/if}></dd>
            </dl>
            <dl>
                <dt><em>*</em>银行名：</dt>
                <dd><{if !$bank}><input type="text" class="text w300" name="bank" value="<{$bank.bank}>" maxlength="200" dataType="Require" msg="<{$lang.bind_k}>"/><{else}><{$bank.bank}><{/if}></dd>
            </dl>
            <dl>
                <dt><em>*</em>开户行：</dt>
                <dd>
                <p><{if !$bank}><input type="text" class="text w300" name="bank_addr" value="<{$bank.bank_addr}>" maxlength="200" dataType="Require" msg="分行名不能为空"/><{else}><{$bank.bank_addr}><{/if}></p>
                <p class="hint"><{$lang.bind_h}></p>
                </dd>
            </dl>
            <dl>
                <dt><em>*</em>银行帐号：</dt>
                <dd><{if !$bank}><input type="text" class="text w300" name="accounts" value="<{$bank.accounts}>" maxlength="200" dataType="Require" msg="<{$lang.bind_l}>"/><{else}><{$bank.accounts}><{/if}></dd>
            </dl>
            <{if $bank.active!=1}>
            <dl class="foot">
                <dt>&nbsp;</dt>
                <dd><{if $bank}><input disabled="disabled" type="submit" value="审核中" class="submit"><{else}><input type="submit" value="提交" class="submit"><{/if}></dd>
            </dl>
            <{/if}>
            </form>
        </div>  
    </div>
</div>