<link href="<{$config.weburl}>/module/news/templates/news.css" rel="stylesheet" type="text/css" />
<div class="menu_bottom L1">				
    <div class="headtop_L">
        <{$lang.you_are_here}><a href='<{$config.weburl}>/'><{$lang.indexpage}></a> &raquo; <a href="<{$config.weburl}>/?m=news"><{$lang.bizchenter}></a> &raquo; <{if $cat!=''}><{$cat}><{else}><{$smarty.get.key}><{/if}>
    </div>	
</div>

<{if !$smarty.get.key&&$news_menu.0.catid}>
    <div class="second_menu">
        <li><{$lang.newnav}></li>
		<{foreach item=list from=$news_menu}>
		<li><a href="<{$config.weburl}>/?m=news&s=news_list&id=<{$list.catid}>"><{$list.cat}></a></li>
		<{/foreach}>
    </div>
<{/if}>

<!--主体开始 -->
	<div id="mainbody1" class="m1">
		<script src='<{$config.weburl}>/api/ad.php?id=28&catid=<{$smarty.get.id}>&sname=<{$sname}>'></script>
		<!--主体左侧开始 -->
		<div class="leftbar">
			<div class="title4"><div class="title_left2 L2">
            <{if $cat!=''}><{$cat}><{else}><{$lang.bizchenter}><{/if}>
            </div></div>
			<div class="content4 overflow">
                     
                     	<{foreach item=list key=num from=$re.list}>

                       
                      <div	style="border-bottom:#CCC 1px dashed;width:680px;height:200px; overflow:hidden; text-align:left;">
                       	 <a <{$list.style}> href="<{$config.weburl}>/?m=news&s=newsd&id=<{$list.nid}>" title="<{$list.title}>" target="_blank" 		
                         			style="display:block;float:left;margin:4px 25px 4px 4px;">
                                    	<{if $list.titlepic}>
											<img src="uploadfile/news/big/<{$list.titlepic}>" width="220" />
										<{else}>
											<img src="uploadfile/news/0.jpg" width="220" />
										<{/if}>
						</a>
                         <span style="display:block;float:left;">
                         	<p style="font-size:16px;font-weight:600;margin-top:18px;">						   
                            	<a <{$list.style}> href="<{$config.weburl}>/?m=news&s=newsd&id=<{$list.nid}>" title="<{$list.title}>" target="_blank" 
                                	style="display:block;margin:4px;">
                                <{$list.ftitle|strip_tags|replace:"%":"％"|truncate:44:'...'}>
                                </a>
                            </p> 
								 <p style="font-size:16px;font-weight:600;"><{$list.uptime|date_format}></p>
                            <p style="font-size:12px;margin-top:25px;letter-spacing:1px;">
                            	<span style="color:#F00;"><{$list.onclick}></span>Views/
                                <span style="color:#F00;"><{$list.ispl}></span>Coments
                            </p>
                            <p style="color:#999;width:350px; overflow:hidden;"><{$list.smalltext|truncate:100:'...'}></p>
                         </span>
                        </div> 
					<{/foreach}>         
                     	
					<div class="page"><{$re.page}></div>
			</div>
		</div>
		<!--主体左侧结束 -->
		
		<!--主体右侧开始 -->
		<div class="rightbar">
			<div class="right1">
				<div class="sectitle" >
					<div class="title_left1 L2"><{$lang.recread}></div>
		        </div>
				<div class="seccon" >
					<ul class="ul1">
					 	<{insert name="label" type="news" temp='news_default_list' rec=1 leng=32 limit=10}>
				   </ul>
				   <div class="clear"></div>
			    </div>
				
			</div>

		</div>		
		<!--主体右侧结束 -->
	</div>