<{include file="header.htm"}>
<div class="menu_bottom L1">				
    <div class="headtop_L">
        <{$lang.you_are_here}><a href='<{$config.weburl}>/'><{$lang.indexpage}></a> &raquo; <{$lang.ulogo}></a>
    </div>
    <div class="headtop_R"></div>		
</div>
<!--主体开始 -->
<div id="mainbody1" class="topm">
	<script type=text/javascript>
		var nousername='<{$lang.nouname}>';
		var nouserpass='<{$lang.noupass}>';
		var norandcode='<{$lang.nocode}>';
	</script>
	<script src="script/login.js" type=text/javascript></script>
	<!--主体左侧开始 -->
	<div class="leftbar">
	<div class="title4"><div class="title_left2 L2">会员绑定</div></div>
	<div class="content4 overflow">
	<form id="login" name="login" action="login.php" method="post">
      <table width='100%' border='0' cellspacing='0' cellpadding='0'  align="left">
			<tr>
              <td height="28" colspan="2" align="left" bgcolor="#eeeeee" style=" padding-left:20px;">&nbsp;
			  已经是会员，输入用户名和密码登录后，便可以和QQ账号进行绑定，以后可以用QQ账号一键登录。
			  </td>
            </tr>
			<{if $smarty.get.user}>
			<tr>
              <td height="36" align="center"></td>
              <td align="left" style="font-size:14px; color:#FF0000; font-weight:bold">
			 <{$lang.youpass}>
			  </td>
		    </tr>
			<{/if}>
			 <tr>
              <td height="36" align="center"> <{$lang.uname}> </td>
              <td align="left">
			  <span id="tishi" style="font-size:14px; color:#FF0000; font-weight:bold"></span>
			  <input value='<{$smarty.get.user}>' name='user' type='text' id="user" size="25"  class="tstyle" maxlength="25" tabindex="1" style="width:200px;"/>
               <{if $smarty.get.erry=="-1"}>
               		<font color="red"><{$lang.noname}></font>
               <{elseif $smarty.get.erry=="-4"}>
               		<br /><font color="red"><{$lang.have_restpass}></font>
               <{/if}>
               </td>
		    </tr>

			 
			 <tr>
              <td height="37" align="center"><{$lang.logpass}></td>
              <td align="left">
			  <input type='password'  name='password' id="password" size="25"  maxlength="25" height="20" tabindex="2" class="tstyle" style="width:200px;"/>
                <{if $smarty.get.erry=="-2"}><font color="red"><{$lang.passerr}></font><{/if}>
                <a href="lostpass.php"><{$lang.forgetpass}></a></td>
		    </tr>

            <tr>
              <td height="40" align="left" bgcolor="#FFFFFF">&nbsp;</td>
              <td align="left" bgcolor="#FFFFFF">
			    <input name="action" type="hidden" value="submit" />
				<input name="" type="submit" value="绑定" />
                <input name="forward" type="hidden" id="forward" value="<{$smarty.get.forward}>" />
				<input name="connect_id" type="hidden" id="connect_id" value="<{$smarty.get.connect_id}>" />
			  </td>
            </tr>
			<tr>
              <td height="28" colspan="2" align="left" bgcolor="#eeeeee" style="padding-left:20px;">&nbsp;<{$lang.notuser}></td>
            </tr>
	 
			 <tr>
              <td height="118" colspan="2" align="left" valign="top" style="padding-top:30px; padding-left:120px;">
			    <input onclick="window.location='<{$config.regname}>?connect_id=<{$smarty.get.connect_id}>';" name="" value="点击创建新账号并绑定" type="button" />
				</td>
            </tr>
		 </table>
		 </form>
		 <div class="clear"></div>
	</div>
	</div>
	
	<!--主体右侧开始 -->
		<div class="rightbar">
			<div class="right1">
				<div class="sectitle" >
					<div class="title_left1 L2"><{$lang.staruser}></div>
		        </div>
				 <div class="seccon">
					<ul>
					 	<{insert name="getUser" leng="36" field="company" filter="star" limit=10}>
				   </ul>
                   <div class="clear"></div>
			    </div>
				<div class="clear"></div>
				</div>
		</div>		
		<!--主体右侧结束 -->
</div>
<{include file="footer.htm"}>