<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢迎--MallBuilder安装向导</title>
<link rel="stylesheet" type="text/css" href="css/install.css" />
</head>
<body>
<div class="wrapper">
  <div class="indeximg">
    <div class="banben">当前语言版本为：UTF8 简体中文</div>
    <div class="clear"></div>
    <div class="go">
      <div class="btnav"><a href="index.php?action=b2b_step2">开始安装</a></div>
    </div>
    <div class="clear"></div>
    <div class="copyright">Copyright &copy; 2008 - 2013 MallBuilder. All Rights Reserved</div>
  </div>
</div>
</body>
</html>
