<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>恭喜！完成安装--B2Bbuilder安装向导</title>
<link rel="stylesheet" type="text/css" href="css/install.css" />
</head>

<body>
<?php
		$rurl=$_SERVER ['HTTP_HOST'].$_SERVER['PHP_SELF'];
		$aurl = explode("/", $rurl);
		$realurl='';
        for($i=0;$i<count($aurl)-2;$i++)
			   $realurl=$realurl.$aurl[$i]."/";
        $realurl="http://".$realurl;
		$realurl=substr($realurl,0,-1);
  ?>
<div class="wrapper">
<div class="indeximg">
<div class="banben"><h2>恭喜！您已成功安装，MallBuilder。</h2></div>
<div class="clear"></div>
<div class="ok">
  <p>注意：请进入FTP删除install安装文件夹，以确保安全。<br />
  你可以 <a href="<?php echo $realurl.'/admin';?>" ><font face="arial" size="4" color="red"><u>进入管理后台</u></font></a>，对网站进行配置。<br />
  <p>这里 <a href="<?php echo $realurl;?>"><font face="arial" size="4" color="red"><u>打开网站</u></a></font><br />
您还可以前往用户手册，参阅更多使用信息。如果您需要帮助，请前往  <a href="http://www.mall-builder.com" target="_blank" class="STYLE2">官方论坛</a>发贴求助，商业授权用户，请直接与客服联系。 </p>
</div>
<div class="clear"></div>
<div class="copyright">Copyright &copy; 2008 - 2013 ，MallBuilder. All Rights Reserved</div>
</div>
</div>
</body>
</html>