<link type="text/css" rel="stylesheet" href="<{$config.weburl}>/module/tg/templates/tg.css">
<div id="mainbody1" class="m1">
	<div class="tad"> 
    	<script src='<{$config.weburl}>/api/ad.php?id=30&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script>
    </div>
    <div class="tcen">
    	<div class="tnav" id="tnav">
        	<dl>
            	<dt>商品分类</dt>
                	<dd> <a href="<{$config.weburl}>/?m=tg">全部</a></dd>
                <{foreach item=list key=num from=$tgcat}>
                    <dd>
                    	<a href="<{$config.weburl}>/?m=tg&catid=<{$list.id}>"><{$list.catname|truncate:15:""}></a>
                    </dd>
				<{/foreach}>
            </dl>
            <div class="clear"></div>
            
        </div>
       
        <div class="tbar">
        	<ul class="tba_list">
            	<{foreach item=list key=num from=$tg}>
                   
                    <li  <{if ($num+1)%3==0}> style="margin-right:0px;" <{/if}> >
                    	<div>
                  			<h3><a href="<{$config.weburl}>/?m=tg&s=detail&id=<{$list.id}>"><{$list.name|truncate:100:""}></a>
                            </h3>
                     			<a href="<{$config.weburl}>/?m=tg&s=detail&id=<{$list.id}>">
               			 	<img src="<{$list.pic}>"/></a>
                         	<p class="buy"><a href="<{$config.weburl}>/?m=tg&s=detail&id=<{$list.id}>">立即抢购</a>
                        		<s><{$config.money}></s><{$list.price}>
                         	</p>
                         	<p class="buy_info">
                         		<span class="first">原价<{$config.money}><{$list.market_price}></span>
                         		<span>折扣<b><{$list.price/$list.market_price*10|number_format:1}></b>折</span>
                         		<span class="last">购买<strong><{$list.virtual_quantity+$list.sell_amount}></strong>件</span>
                            </p>
               			</div>
                    </li>
                <{/foreach}>
            </ul>
              <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
